.boxContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: auto;
}

.boxContainer h4 {
  margin: auto;
}

.boxlist {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto auto auto;
}

.box {
  margin: 18px 5px;
  flex: 1;
  flex: auto;
}

.img {
  width: 100%;
  height: 70%;
  background-position: center;
  background-size: cover;
}
